
    <div class="row">
    {% for ex in exercises %}
        <div class="col-4 my-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'webapp:exercise_view' ex.pk %}">{{ ex.title }}</a></h5>
                    <h5 class="card-title">Статус: {{ ex.status.name }}</h5>
                      <p class="card-text">Тип:
                        {% for type in ex.types.all %}
                            {{ type.name }}
                            {% if not forloop.last %}
                                ,{% endif %}
                        {% endfor %}</p>
                        <p
                                class="card-text">Проект: {{ ex.project.name }}</p>
                        {% if perms.webapp.change_exercise and request.user in project.users.all %}
                            <a href="
    {% url 'webapp:exercise_update' ex.pk %}">Update</a>
                        {% endif %}
                        {% if perms.webapp.delete_exercise and request.user in project.users.all %}
                            <a href="{% url 'webapp:exercise_delete' ex.pk %}">Delete</a>
                        {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>