{% csrf_token %}

{#{{ form.as_p }}#}
{#<input type="submit" class="secondary" value="{{ button_text }}"/>#}

<p><label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label></p>
<p>{{ form.title }}</p>

<p><label for="{{ form.status.id_for_label }}">{{ form.status.label }}</label></p>
<p>{{ form.status }}</p>

<p><label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label></p>
<p>{{ form.description }}</p>

<p><label for="{{ form.todo_date.id_for_label }}">{{ form.todo_date.label }}</label></p>
<p>{{ form.todo_date }}</p>

<p><input type="submit" value="{{ button_text }}"></p>