{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'exercise_add' %}">Create new exercise</a>
    </li>
{% endblock %}

{% block content %}
<h2>Create Exercise</h2>
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Название</label>
    <input type="text" name="title" required>
    </div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Описание:</label>
    <textarea name="description"></textarea>
</div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Дата выполнения</label>
        <input type="text" name="todo_date">    </div>
    <select name="status">
        {% for key, value in statuses %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" class="secondary" value="Create">
</form>
{% endblock %}