{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'exercise_add' %}">Create new exercise</a>
    </li>
{% endblock %}

{% block content %}
    <h1>Exercise</h1>
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">{{ exercise.title }}</h5>
    <p class="card-text" style="white-space: pre-wrap">Описание: {{ exercise.description }}</p>
    <p class="card-text">Статус: {{ exercise.get_status_display }}</p>
      <p class="card-text">Дата выполнения: {{ exercise.todo_date }}</p>
  </div>
</div>
{%  endblock %}