{% extends 'base.html' %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'exercise_add' %}">Create new exercise</a>
    </li>
{% endblock %}

{% block content %}
<h1>To-Do-List</h1>
{% for ex in exercises %}
    <div class="card">
      <div class="card-header">
          <h3 class="card-title"><a href="{% url 'exercise_view' ex.pk %}">{{ ex.title }}</a></h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Статус: {{ ex.get_status_display }}</h5>
        <p class="card-text">Дата выполнения: {{ ex.todo_date | date:"d F Y" }}</p>
      <form action="{% url 'index' %}?id={{ ex.id }}" method="POST">
          {% csrf_token %}
          <input type="submit" value="delete">
      </form>
  </div>
</div>
    <br>
{% endfor %}
{% endblock %}
