{% extends 'base.html' %}

{% block nav %}
    {% if request.user.is_autenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:exercise_update' exercise.pk %}">Update exercise</a>
    </li>
    </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:exercise_delete' exercise.pk %}">Delete exercise</a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Exercise</h1>
<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">{{ exercise.title }}</h5>
    <p class="card-text" style="white-space: pre-wrap">Описание: {{ exercise.description }}</p>
    <p class="card-text">Статус: {{ exercise.status.name }}</p>
      <p class="card-text">Тип:
          {% for type in exercise.types.all %}
              {{ type.name }}
              {% if not forloop.last %}
                  ,{% endif %}
          {% endfor %}</p>
  </div>
</div>
{%  endblock %}